<!DOCTYPE html>
{% extends 'layout/main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


  <style>
  body{
  background: yellow;

  }


  </style>
</head>
<body>

    <div class="c"></div>
<div class="container-fluid text-center"><hr>
      <h1>About Us</h1>
    <hr> Rental App Management System is An App to Find
    <hr>
    a Secured living With Kith and Kin At Lowest Price And Excellent Amenities
    <hr>
    We Provide Our Customers With
    <hr>
               A Happy Living <b> Space  in Safest Areas inside The City With Nearest Avaliablity of Convence
        <hr>
    </b> do Try Us To Know More About Our Services.
      <p>

      </p>
</div>




</footer>

</body>
</html>


{% endblock content %}